.board{
    background-color: var(--board-clear);
    width: 100%;
    height: 100%;
}

canvas#canvas {
    background-color: rgb(177, 177, 177);
    position: absolute;
    top: 50px;
    cursor: crosshair;
    z-index: 10;
  }